In [1]:
import warnings
warnings.filterwarnings('ignore')

import pickle
with open('titanic_step3_feature_onehot_encoding.pickle', 'rb') as pickle_filename:
    df_onehot = pickle.load(pickle_filename)
with open('titanic_step3_feature_encoding_y_pickle', 'rb') as pickle_filename:
    y_train = pickle.load(pickle_filename)

ntrain = 891
X_train, X_test = df_onehot[:ntrain], df_onehot[ntrain:]
X_train.head()

,Pclass_0,Pclass_1,Pclass_2,Sex_0,Sex_1,Age_0,Age_1,Age_2,Age_3,Age_4,...,HighChance_0,HighChance_1,HighChance_2,HighChance_3,HighChance_4,HighChance_5,HighChance_6,LowChance_0,LowChance_1,LowChance_2
0,0,0,1,1,0,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
1,1,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
2,0,0,1,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
3,1,0,0,0,1,0,0,0,0,1,...,0,0,1,0,0,0,0,1,0,0
4,0,0,1,1,0,0,0,0,0,1,...,1,0,0,0,0,0,0,0,0,1

### K-Fold test

In [2]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=13)
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
score = cross_val_score(knn, X_train, y_train, cv=k_fold, n_jobs=-1, scoring='accuracy')
score

array([0.83333333, 0.82022472, 0.78651685, 0.86516854, 0.85393258,
       0.83146067, 0.80898876, 0.83146067, 0.79775281, 0.78651685])

In [3]:
import numpy as np
np.mean(score) * 100

82.15355805243446

### Stratified K-Fold test

In [5]:
import pandas as pd
from sklearn.datasets import load_iris
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import KFold

iris_data = load_iris()
dir(iris_data)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [6]:
iris_df = pd.DataFrame(data=iris_data, columns=iris_data.feature_names)

In [7]:
iris_df['species'] = iris_data.target
iris_df['species'].value_counts()

0    50
1    50
2    50
Name: species, dtype: int64

In [10]:
skfold = StratifiedKFold(n_splits=3)

for train_index, test_index in skfold.split(iris_df, iris_df['species']):
    trainset = iris_df['species'].iloc[train_index]
    testset = iris_df['species'].iloc[test_index]
    print('train set \n', trainset.value_counts())
    print('test set\n', testset.value_counts())

train set
 2    34
0    33
1    33
Name: species, dtype: int64
test set
 0    17
1    17
2    16
Name: species, dtype: int64
train set
 1    34
0    33
2    33
Name: species, dtype: int64
test set
 0    17
2    17
1    16
Name: species, dtype: int64
train set
 0    34
1    33
2    33
Name: species, dtype: int64
test set
 1    17
2    17
0    16
Name: species, dtype: int64

In [11]:
kfold = KFold(n_splits=3)

# KFold.split(X): X 는 훈련 데이터
for train_index, test_index in kfold.split(iris_df):
    trainset = iris_df['species'].iloc[train_index]
    testset = iris_df['species'].iloc[test_index]
    print('trainset\n', trainset.value_counts())
    print('testset\n', testset.value_counts())

trainset
 1    50
2    50
Name: species, dtype: int64
testset
 0    50
Name: species, dtype: int64
trainset
 0    50
2    50
Name: species, dtype: int64
testset
 1    50
Name: species, dtype: int64
trainset
 0    50
1    50
Name: species, dtype: int64
testset
 2    50
Name: species, dtype: int64